<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!--  	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
		<property name="connection_pool_size">1</property>
		<property name="show_sql">true</property>
		<mapping class="data.CodeItem"></mapping>  -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">memrflmyfjzvsy</property>
		<property name="hibernate.connection.password">H5qRHCy_IXupk81g80dp4D2NCa</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-107-20-191-205.compute-1.amazonaws.com:5432/d8gcfpm0hh8tq?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
		<property name="connection_pool_size">10</property>
		<property name="show_sql">true</property>
		<mapping class="data.CodeItem"></mapping> 
	</session-factory>
</hibernate-configuration>