	<div class="login">	
			<div class="row collapse">
				<label>Username</label> <input type="text" id="username" />
			</div>
			<div class="row collapse">
				<label>Password</label> <input type="password" id="password" />
			</div>
			<div>
				<span id="g-signin-button"> <span class="g-signin"
					data-callback="signinCallback"
					data-clientid="570680235799-mq2l1luj94oqc20ahl8uh0a9evi3d8be.apps.googleusercontent.com"
					data-cookiepolicy="single_host_origin"
					data-requestvisibleactions="http://schemas.google.com/AddActivity"
					data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"> </span>
				</span>
<!-- 				<div id="fb-root"></div> -->
<!-- 				<div class="fb-login-button" data-max-rows="1" data-size="large" -->
<!-- 					data-show-faces="false" data-auto-logout-link="true"></div> -->
				<button type="submit" class="radius button" id="loginarea">Log
					in</button>
			</div>		
	</div>