			<div id="result">
			#if($resultSize == 0)
			#set($value = 0)
			#else
			#set($value = $firstResult + 1)
			#end
			Results $value - $last of $resultSize
			
			#if($firstResult > 0 )
				#if($nojs == true)
					<a class="searchObject" href="mystuff.html?firstResult=$previousFirstResult&amp;limit=$limit&amp;nojs=true">
						<div class="searchButton">
							&lt; prev
						</div>
					</a>
				#else
					<a class="searchObject" href="mystuff.html?firstResult=$previousFirstResult&amp;limit=$limit">
						<div class="searchButton">
						&lt; prev
						</div>
					</a>
				#end			
			#end
			#if ($nextFirstResult < $resultSize)
				#if($nojs == true)
					<a class="searchObject" href="mystuff.html?firstResult=$nextFirstResult&amp;limit=$limit&amp;nojs=true">
						<div class="searchButton">
							next &gt;
						</div>
					</a>
				#else
					<a class="searchObject" href="mystuff.html?firstResult=$nextFirstResult&amp;limit=$limit">
						<div class="searchButton">
							next &gt;
						</div>
					</a>
				#end
			#end
			</div>