
			<div id="search">	
				<form method="post" action="/search">
					<input  type="text" class="search searchParameters" name="q" value=$q />
					<select class="searchParameters" id="sortField" name="sortField">
							<option value="relevance" selected="selected">Relevance</option>
							<option value="name">Name (A-Z)</option>
							<option value="name-reverse">Name (Z-A)</option>
					</select>
				#if($nojs == true)
					<input type="hidden" name="nojs" value="true">
				#else
					<input type="hidden" name="nojs" value="false">
				#end
				</form>
			</div>
			<div id="result">
			#set($value = $firstResult + 1)
			Results $value - $last of $searchResultSize
			
			#if($firstResult > 0 )
				#if($nojs == true)
					<a class="searchObject" href="search.html?q=$q&amp;sortField=$sortField&amp;firstResult=$previousFirstResult&amp;limit=$limit&amp;nojs=true">
						<div class="searchButton">
							&lt; prev
						</div>
					</a>
				#else
					<a class="searchObject" href="search.html?q=$q&amp;sortField=$sortField&amp;firstResult=$previousFirstResult&amp;limit=$limit">
						<div class="searchButton">
						&lt; prev
						</div>
					</a>
				#end			
			#end
			#if ($nextFirstResult < $searchResultSize)
				#if($nojs == true)
					<a class="searchObject" href="search.html?q=$q&amp;sortField=$sortField&amp;firstResult=$nextFirstResult&amp;limit=$limit&amp;nojs=true">
						<div class="searchButton">
							next &gt;
						</div>
					</a>
				#else
					<a class="searchObject" href="search.html?q=$q&amp;sortField=$sortField&amp;firstResult=$nextFirstResult&amp;limit=$limit">
						<div class="searchButton">
							next &gt;
						</div>
					</a>
				#end
			#end
			</div>