/* Additions to this CSS */

/* Banner */
.banner {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #999999;
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

/* Codearea */
#codearea {
    height: 200px;
}